build-*/
*.pro.user
*.autosave

*.o
*.obj

*.exe
*.dll
*.so
*.dylib

*.debug

CMakeLists.txt.user
*.qmlc
*.jom

CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h

*.ilk
*.pdb
*.idb

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.DS_Store
Thumbs.db

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log

*~
*.bak
*.swp